<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"backgroundColor":"contrast","className":"has-text-color","layout":{"type":"default"}} -->
<main class="wp-block-group has-text-color has-contrast-background-color has-background" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"overlayColor":"contrast","minHeight":280,"contentPosition":"top center","isDark":false,"style":{"spacing":{"margin":{"bottom":"0","top":"100px"}}}} -->
<div class="wp-block-cover is-light has-custom-content-position is-position-top-center" style="margin-top:100px;margin-bottom:0;min-height:280px"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"textAlign":"center","style":{"spacing":{"padding":{"top":"var:preset|spacing|30","right":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|40","right":"0","bottom":"var:preset|spacing|40","left":"0"}},"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"700"}},"backgroundColor":"primary","textColor":"contrast","fontSize":"x-large"} /--></div></div>
<!-- /wp:cover -->

<!-- wp:post-content {"align":"wide","layout":{"type":"constrained","justifyContent":"center","wideSize":"1200px"},"fontSize":"large"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
